
<div class="{{fieldclass}}" style="height: 30px; margin-top: 1rem; margin-bottom: 1rem;">
    <label>
        {{#if icon}}
            {{{icon}}}
        {{/if}}
        <input id="{{id}}" name="{{id}}" class="{{class}}" type="{{type}}" {{checked}}>
        <span>{{label}}</span>
    </label>
</div>
