
<div class="{{fieldclass}}">
    {{#if icon}}
        {{{icon}}}
    {{/if}}
    <input id="{{id}}" name="{{id}}" type="{{type}}" class="{{class}}" {{more}}>
    <label for="{{id}}">{{label}}</label>
</div>
