
<div class="{{fieldclass}}">
    {{#if icon}}
        {{{icon}}}
    {{/if}}
    <p style="padding-left: 0px; font-size: 0.8rem; color: #9e9e9e; margin-top:0px">{{label}}</p>
    <textarea id="{{id}}" name="{{id}}" class="{{class}}" {{more}}></textarea>
</div>
