<div class="{{fieldclass}}">
    {{#if icon}}
        {{{icon}}}
    {{/if}}
    <textarea id="{{id}}" name="{{id}}" class="materialize-textarea {{class}}" {{more}}></textarea>
    <label for="{{id}}">{{label}}</label>
</div>